.dhaka{
    background-image: url("/src/assests/dhaka.jpg");
    height: 300px;
    background-size: cover;
    color: aliceblue;   
}
.btnstyle{
    width: 90%;
}
.dhaka{
    background-image: url("/src/assests/dhaka.jpg");
    height: 300px;
    background-size: cover;
    color: aliceblue;   
}
.btnstyle{
    width: 90%;
}
